header {
  width: 100%;
  height: 40px;
  &[role="header"] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
  }
}

[role="main"] {
  margin: 0;
  padding-left: 200px;
  padding-top: 40px;
}

footer {
  width: 100%;
  height: 20px;
}

[role="sidebar"] {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  z-index: 999;
}

.left_sidebar-hidden {
  [role="main"] {
    padding-left: 0;
  }
  [role="sidebar"] {
    display: none;
  }
}

#logo {
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
}
