@mixin logo($url: "../images") {

[class*="-logo"] {
	text-indent: -99999em;
	background-position: $pad/2 center;
	background-repeat: no-repeat;
}

[class*="-logo-large"] { @include retina-image("#{$url}/logo", 160px 24px) }

}
