[role="sidebar"] {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  z-index: 999;
  background-color: #353b41;
  @include background-image(linear-gradient(to left, rgba(black, 1) 0%, rgba(black, .5) 1%, rgba(black, 0) 5%));
}

[role="sidebar"] .left-sidebar-toggle {
	position: absolute;
	top: 4px;
	right: 8px;
}

.left_sidebar-hidden {
  [role="main"] {
    padding-left: 0;
  }
  [role="sidebar"] {
    display: none;
  }
}