// Mar-com

$blue: #0C5CA6;
$gray: #58595B;
$orange: #FF9000;
$blue-gray: #778598;

// Variations
$blue-dark: #023362;
$gray-dark: #636363;
$gray-light: #F1F2F4;

// Dimensions
$pad: 18px;
$sidebar-width: 220px;
$header-height: 40px;
